html {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	background: url(10-normal.svg), url(50-right.svg);
	background-size: 15px, 75px;
	line-height: 1.5em;
}

body {
	max-width: 58em;
	margin: 0 auto;
	padding: 2em 4em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
	background: white;
	box-sizing: border-box;
}

h1 > a {
	color: inherit;
	text-decoration: none;
}

nav {
	float: right;
	line-height: 2em;
}

nav > a {
	color: inherit;
	font-weight: bold;
	padding-left: 1em;
}

#title {
	margin: 0;
	line-height: 1em;
}

#bio {
	background: url(me.png), url(squirrel.png);
	background-size: auto 24em, 4em;
	background-position: 1em 1em, left 11em bottom 1em;
	background-repeat: no-repeat;
	min-height: 20em;
	padding: 1em 0 4em 10em;
}

#pages {
	margin: 1em 0;
	padding: 0;
	list-style: none;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px 0;
	display: flex;
	justify-content: flex-end;
}

#pages > li {
	padding: 0.5em;
}

.postdate {
	color: #aaa;
}

.postdate::before {
	content: '— ';
}

.postlist > li {
	margin: 0.5em 0;
}

h2 {
	font-size: 1.25em;
}

article {
	header {
		p {
			float: right;
			margin: 0 0 0 1em;
			line-height: 1.5em;
		}
	}

	img {
		display: block;
		margin: 1em auto;
		max-width: 100%;
	}

	figure {
		margin: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	pre {
		margin: 1em;
		border: 1px solid #AAA;
		border-radius: 0.3em;
		background: #fcfcfc;
		padding: 1em;
		font-size: 0.9em;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.footnotes {
	border-top: 1px solid #ccc;
	font-size: 0.85em;
}

blockquote {
	border-left: 4px solid #EEE;
	margin: 1em 1em 1em 1em;
	padding-left: 1em;
}

#top {
	background: url(s.svg);
	background-repeat: no-repeat;
	background-size: 3em;
	background-position: 0.5em 0.7em;
	margin: -2em -4em 3em;
	padding: 0.5em 4em;
	border-bottom: 1px solid #ccc;
}

#home {
	display: inline-block;
	font-size: 1.5em;
	line-height: 1.5em;
	color: inherit;
	text-decoration: inherit;
	font-weight: bold;
}

@media (max-width: 450px) {
	body {
		padding: 1.5em;
	}

	#top {
		margin: -1.5em -1.5em 2em;
		padding-right: 1em;
	}

	blockquote {
		margin-left: 1.5em;
	}
}
