<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.full_title %}{{ page.full_title }}{% else %}{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}{% endif %}</title>
{% if page.excerpt and page.excerpt != empty %}<meta name="description" content="{{ page.excerpt }}">{% endif %}

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
{% for css in page.extra-css %}
<link rel="stylesheet" href="{{css}}">
{% endfor %}
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<header id=top>
	<a href=/ id=home aria-label="Home">Sidnicious</a>
	<nav>
			<a href="/resume/">Résumé</a>
		{% assign pages = site.pages | sort:'weight' %}
		{% for page in pages %}{% if page.title %}
			<a href="{{ page.url }}">{{ page.title }}</a>
		{% endif %}{% endfor %}
	</nav>
</header>

{{ content }}
